@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

/* ### Primary */

--BrightBlue: hsl(220, 98%, 61%);
--CheckBackground: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);


/* ### Light Theme */

--VeryLightGray: hsl(0, 0%, 98%);
--VeryLightGrayishBlue: hsl(236, 33%, 92%);
--LightGrayishBlue: hsl(233, 11%, 84%);
--DarkGrayishBlue: hsl(236, 9%, 61%);
--VeryDarkGrayishBlue: hsl(235, 19%, 35%);

/* ### Dark Theme */

--VeryDarkBlue: hsl(235, 21%, 11%);
--VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
--LightGrayishBlue: hsl(234, 39%, 85%);
--LightGrayishBluehover: hsl(236, 33%, 92%);
--DarkGrayishBlue: hsl(234, 11%, 52%);
--VeryDarkGrayishBlue: hsl(233, 14%, 35%);
--VeryDarkGrayishBlue: hsl(237, 14%, 26%);

}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: var(--VeryDarkBlue);
}


.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 550px;
  margin: 0 auto;
  padding: 30px 0;
}

.header h1 {
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.header img {
  cursor: pointer;
}

.new-task {
  width: 550px;
  background-color: var(--VeryDarkDesaturatedBlue);
  padding: 1.3rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.new-task .circle {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  border: 1px solid var(--DarkGrayishBlue);
  margin-right: 1.4rem;
  margin-left: 0.5rem;
}

.new-task input {
  flex: 1;
  font-size: 1.2rem;
  background-color: var(--VeryDarkDesaturatedBlue);
  color: var(--VeryLightGrayishBlue);
  border: none;
  outline: none;
}