@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ### Primary */

  --BrightBlue: hsl(220, 98%, 61%);
  --CheckBackground: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

  /* ### Light Theme */

  --VeryLightGray: hsl(0, 0%, 98%);
  --VeryLightGrayishBlue: hsl(236, 33%, 92%);
  --LightGrayishBlue: hsl(233, 11%, 84%);
  --DarkGrayishBlue: hsl(236, 9%, 61%);
  --VeryDarkGrayishBlue: hsl(235, 19%, 35%);
  --textColor: hsl(236, 12%, 25%);

  /* ### Dark Theme */

  --VeryDarkBlue: hsl(235, 21%, 11%);
  --VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
  --LightGrayishBlue: hsl(234, 39%, 85%);
  --LightGrayishBluehover: hsl(236, 33%, 92%);
  --DarkGrayishBlue: hsl(234, 11%, 52%);
  --VeryDarkGrayishBlue: hsl(233, 14%, 35%);
  --VeryDarkGrayishBlue: hsl(237, 14%, 26%);
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.container.dark {
  background-color: var(--VeryDarkBlue);
}

.container.light {
  background-color: var(--VeryLightGray);
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header.dark {
  background-image: url("../public/images/bg-desktop-dark.jpg");
}

@media (max-width: 768px) {
  .header.dark {
    background-image: url("../public/images/bg-mobile-dark.jpg");
  }
}

.header.light {
  background-image: url("../public/images/bg-desktop-light.jpg");
}

@media (max-width: 768px) {
  .header.light {
    background-image: url("../public/images/bg-mobile-light.jpg");
  }
}

.header {
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 550px;
  margin: 0 auto;
  padding: 30px 0;
}

@media (max-width: 768px) {
  .header .top {
    width: 450px;
  }
}

.header h1 {
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.header img {
  cursor: pointer;
}

.new-task {
  width: 550px;
  padding: 1.3rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .new-task {
  width: 450px;
  }
}

.new-task.dark,
.new-task .input.dark,
.task.dark {
  background-color: var(--VeryDarkDesaturatedBlue);
  color: var(--VeryLightGrayishBlue);
}

.new-task.light,
.new-task .input.light,
.task.light {
  background-color: var(--VeryLightGray);
  color: var(--textColor);
}

.circle {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  border: 1px solid var(--DarkGrayishBlue);
  margin-right: 1.4rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.new-task .input {
  flex: 1;
  font-size: 1.2rem;
  border: none;
  outline: none;
}

.tasks-container {
  width: 550px;
}

@media (max-width: 768px) {
  .tasks-container {
    width: 450px;
  }
}

.task {
  padding: 1.3rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--DarkGrayishBlue);
}

.task:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.task .text {
  margin-right: auto;
}

.circle.add {
  cursor: pointer;
}

.task.status {
  color: var(--DarkGrayishBlue);
  justify-content: space-between;
  border-bottom: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (max-width: 768px) {
  .task.status {
    display: none;
  }
}

.task.status.dark {
  background-color: var(--VeryDarkDesaturatedBlue);
}

.task.task.status.light {
  background-color: var(--VeryLightGray);
}

.filter {
  display: flex;
  gap: 1rem;
}

.filter div,
.completed {
  cursor: pointer;
}

.filter.dark div:hover,
.completed.dark:hover {
  color: var(--VeryLightGrayishBlue);
}

.filter.light div:hover,
.completed.light:hover {
  color: var(--textColor);
}

.filter .active {
  color: var(--BrightBlue);
}

.task.status-mobile {
  flex-direction: column;
  color: var(--DarkGrayishBlue);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: none;
}

@media (min-width: 768px) {
  .task.status-mobile {
    display: none;
  }
}

.task.status-mobile .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 1.3rem;
}

.task.bottom {
  color:var(--DarkGrayishBlue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 6rem;
  margin: 10px 0;
  border-bottom: none;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .task.task.bottom {
    display: none;
  }
}

.task.bottom .filter div {
  margin: 0 15px;
}

.task.bottom.dark {
  background-color: var(--VeryDarkDesaturatedBlue);
}

.task.bottom.light {
  background-color: var(--VeryLightGray);
}